<section id="contato">

<h1>Contato</h1>

  <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
  <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
  <form name="sentMessage" id="contactForm" method="post" action="contato.php" novalidate>
      <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Nome</label>
              <input type="text" name="name" class="form-control" placeholder="Nome" id="name" required data-validation-required-message="Por favor, digite seu nome">
              <p class="help-block text-danger"></p>
          </div>
      </div>
      <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Endereço de email</label>
              <input type="email" name="email" class="form-control" placeholder="Endereço de email" id="email" required data-validation-required-message="Por favor, digite seu endereço de email">
              <p class="help-block text-danger"></p>
          </div>
      </div>
      <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Mensagem</label>
              <textarea name="message" rows="5" class="form-control" placeholder="Mensagem" id="message" required data-validation-required-message="Por favor, digite a sua mensagem"></textarea>
              <p class="help-block text-danger"></p>
          </div>
      </div>
      <br>
      <div id="success"></div>
      <div class="row">
          <div class="form-group col-xs-12">
              <button type="submit" class="btn btn-success btn-lg">Enviar</button>
          </div>
      </div>
  </form>

</section>

