<!-- <ul class="list&#45;unstyled"> -->
<!--   <li><a href="#gt1"><abbr title="Grupo de Trabalho">GT</abbr> 1: Classe, Gênero e Raça</a></li> -->
<!--   <li><a href="#gt2"><abbr title="Grupo de Trabalho">GT</abbr> 2: Cultura, Arte e Sociedade</a></li> -->
<!--   <li><a href="#gt3"><abbr title="Grupo de Trabalho">GT</abbr> 3: Pensamento Social</a></li> -->
<!--   <li><a href="#gt4"><abbr title="Grupo de Trabalho">GT</abbr> 4: Migração e Cidadania</a></li> -->
<!--   <li><a href="#gt5"><abbr title="Grupo de Trabalho">GT</abbr> 5: Sociedade e Economia</a></li> -->
<!--   <li><a href="#gt6"><abbr title="Grupo de Trabalho">GT</abbr> 6: Corpo, Subjetividade e Poder</a></li> -->
<!--   <li><a href="#gt7"><abbr title="Grupo de Trabalho">GT</abbr> 7: Teoria e Método</a></li> -->
<!--   <li><a href="#gt8"><abbr title="Grupo de Trabalho">GT</abbr> 8: Políticas Públicas, Conflitos e Movimentos Sociais</a></li> -->
<!-- </ul> -->

<div id="gts-info">

<h2 id="gt1"><a class="gt-accordion" href="#gt1"><abbr title="Grupo de trabalho">GT</abbr> 1: Classe, Gênero e Raça</a></h2>

<div>
<dl>
  <dt>Data</dt>
  <dd>Terça-feira, 26 de maio ― 9h−12h </dd>
  <dt>Local</dt>
  <dd>Sala de Vídeo</dd>
  <!-- <dt>Coordenadores</dt> -->
  <!-- <dd>Murillo van der Laan</dd> -->
  <!-- <dd>Gustavo Miranda</dd> -->
  <dt>Debatedores</dt>
  <dd>Profa. Dra. Bárbara Castro</dd>
  <dd>Prof. Dr. Sávio Cavalcanti</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título do Trabalho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mariana Shinohara Roncato</td>
      <td>Migração Internacional e divisão sócio-sexo-racial do trabalho.</td>
    </tr>
    <tr>
      <td>Roziane Ferreira da Silva Cerqueira</td>
      <td>Estudo das articulações das classes e das frações de classes no Brasil: do início do governo Juscelino Kubitschek, em 1956, à concretização do golpe, em 1964.</td>
    </tr>
    <tr>
      <td>Erika L. A. Soares</td>
      <td>Trabalho e intensidade/ intensificação: anotações sobre a degradação do trabalho no capitalismo contemporâneo.</td>
    </tr>
    <tr>
      <td>Leianne Theresa Guedes Miranda</td>
      <td>A cidade de São Paulo e o Centro Velho: empreendimentos, ajustes e reajustes da configuração do espaço urbano</td>
    </tr>
    <tr>
      <td>Rodrigo Fessel Sega</td>
      <td>Assimetrias de Gênero em Fluxos Migratórios Internacionais.</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt2"><a class="gt-accordion" href="#gt2"><abbr title="Grupo de trabalho">GT</abbr> 2: Cultura, Arte e Sociedade</a></h2>

<div>
<dl>
  <dt>Data</dt>
  <dd>Terça-feira, 26 de maio ― 14h−17h</dd>
  <dt>Local</dt>
  <dd>Sala Multiuso</dd>
  <!-- <dt>Coordenadores</dt> -->
  <!-- <dd>Flávia Paniz</dd> -->
  <!-- <dd>Gilberto Busso</dd> -->
  <dt>Debatedores</dt>
  <dd>Prof. Dr. Michel Nicolau Netto</dd>
  <dd>Prof. Dr. Renato Ortiz</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título do Trabalho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Juliana Closel Miraldi</td>
      <td>A arte disputa a Bienal de São Paulo: uma análise sobre a dinâmica diferencial dos campos</td>
    </tr>
    <tr>
      <td>Camila Teixeira Lima</td>
      <td>“O Delicado Abismo da Loucura”: angustia moderna no mundo arcaico da literatura sertaneja contemporânea de Raimundo Carrero e Ronaldo Correia de Brito</td>
    </tr>
    <tr>
      <td>Sheyla Castro Diniz</td>
      <td>Sobre estrutura de sentimento: reflexões teóricas e metodológicas para a análise do desbunde e da contracultura na produção musical popular brasileira (1969-1974)</td>
    </tr>
    <tr>
      <td>Luã Ferreira Leal</td>
      <td>Pop com gentílico</td>
    </tr>
    <tr>
      <td>Dalva Regina Pereira Santos</td>
      <td>Experiência Agência Popular Solano Trindade: possibilidades da produção cultural no capitalismo contemporâneo</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt3"><a class="gt-accordion" href="#gt3"><abbr title="Grupo de trabalho">GT</abbr> 3: Pensamento Social</a></h2>

<div>
<dl>
  <dt>Data</dt>
  <dd>Terça-feira, 26 de maio ― 9h–12h</dd>
  <dt>Local</dt>
  <dd>Sala Multiuso</dd>
  <!-- <dt>Coordenadores</dt> -->
  <!-- <dd>Raphael Silveiras</dd> -->
  <!-- <dd>Camila Teixeira Lima</dd> -->
  <dt>Debatedores</dt>
  <dd>Prof. Dr. Mário Augusto Medeiros da Silva</dd>
  <dd>Profa. Dra. Mariana Chaguri</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título do Trabalho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Breno Augusto de Oliveira Santos</td>
      <td>E. P. Thompson e a sociologia brasileira: um estudo a partir das classes sociais</td>
    </tr>
    <tr>
      <td>Luiz Fernando de Souza Santos</td>
      <td>Amazônia e Marxismo: o pensamento de Florestan Fernandes entre o mágico e o cruel</td>
    </tr>
    <tr>
      <td>Flávia Xavier Merlotti Paniz</td>
      <td>Gabriel Cohn e o sentido de pensar a “teoria entre nós”</td>
    </tr>
    <tr>
      <td>Fabio Mascaro Querido</td>
      <td>Marxismo, crise e crítica: o tournant benjaminiano nas trajetórias intelectuais de Michael Löwy e Daniel Bensaïd</td>
    </tr>
    <tr>
      <td>Gustavo Martins do Carmo Miranda</td>
      <td>Um retorno ao passado: os krausistas espanhóis e o pensamento sociológico</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt4"><a class="gt-accordion" href="#gt4"><abbr title="Grupo de trabalho">GT</abbr> 4: Migração e Cidadania</a></h2>

<div>
<dl>
  <dt>Data</dt>
  <dd>Terça-feira, 26 de maio ― 14–17h­</dd>
  <dt>Local</dt>
  <dd>Sala de Vídeo</dd>
  <!-- <dt>Coordenadores</dt> -->
  <!-- <dd>Mariana Shinohara</dd> -->
  <!-- <dd>Rodrigo Fessel Sega</dd> -->
  <dt>Debatedoras</dt>
  <dd>Profa. Dra. Leila da Costa Ferreira</dd>
  <dd>Profa. Dra. Rosana Aparecida Baeninger</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título do Trabalho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Marcela da S. Feital</td>
      <td>Migração Ambiental: uma contribuição sociológica para entender sociedades em transição</td>
    </tr>
    <tr>
      <td>Maria Bernadete Fin Ferreira Campos</td>
      <td>Particularidades e singularidades acerca do trabalho qualificado imigrante no Brasil</td>
    </tr>
    <tr>
      <td>Letícia Helena Mamed</td>
      <td>Trabalho e Migração: a morfologia do fluxo de haitianos pela Amazônia acreana e seu processo de integração precarizada no Brasil</td>
    </tr>
    <tr>
      <td>Kassoum Diémé</td>
      <td>Imigração e trabalho: o caso das haitianas em São Paulo</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt5"><a class="gt-accordion" href="#gt5"><abbr title="Grupo de trabalho">GT</abbr> 5: Sociedade e Economia</a></h2>

<div>
<dl>
  <dt>Data</dt>
  <dd>Quinta-feira, 28 de maio ― 9h–12h</dd>
  <dt>Local</dt>
  <dd>Sala de vídeo</dd>
  <!-- <dt>Coordenadores</dt> -->
  <!-- <dd>Leianne Miranda</dd> -->
  <!-- <dd>Kassoum Diémé</dd> -->
  <dt>Debatedores</dt>
  <dd>Profa. Dra. Arlete M. Rodrigues</dd>
  <dd>Dr. Gustavo Moura de Cavalcanti Mello</dd>
  <dd>Dr. Marcelo Fetz</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título do Trabalho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lisandra Zago</td>
      <td>As estratégias políticas e econômicas no perído de Mao Zedong</td>
    </tr>
    <tr>
      <td>Sara da Silva Freitas</td>
      <td>Ação do empresariado financeiro na sociedade civil brasileira: Um estudo de caso a partir dos bancos e banqueiros</td>
    </tr>
    <tr>
      <td>Gustavo Bissoto Gumiero</td>
      <td>Capitalismo Maquínico. Produção em massa e (re)produção da massas</td>
    </tr>
    <tr>
      <td>Alberto Matenhauer Urbinatti</td>
      <td>Respostas aos desafios das mudanças ambientais globais em níveis locais: os casos de São Paulo e Pequim</td>
    </tr>
    <tr>
      <td>Antonio Pereira de Oliveira</td>
      <td>Desenvolvimento Sustentável Visto por uma perspectiva marxista</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt6"><a class="gt-accordion" href="#gt6"><abbr title="Grupo de trabalho">GT</abbr> 6: Corpo, Subjetividade e Poder</a></h2>

<div>
<dl>
  <dt>Data</dt>
  <dd>Quarta-feira, 27 de maio ― 9–12h</dd>
  <dt>Local</dt>
  <dd>Sala Multiuso</dd>
  <!-- <dt>Coordenadores</dt> -->
  <!-- <dd>Sheyla Diniz</dd> -->
  <!-- <dd>Hyury Pinheiro</dd> -->
  <dt>Debatedores</dt>
  <dd>Dr. Rafael Alves da Silva</dd>
  <dd>Prof. Dr. Pedro Peixoto Ferreira</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título do Trabalho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Thiago Pires Galletta</td>
      <td>Relação consciência-mente-corpo no contexto da hiperconexão digital: automatismo e liberdade à luz do Yoga</td>
    </tr>
    <tr>
      <td>Mario Guillermo Massini</td>
      <td>Pensar o libertário</td>
    </tr>
    <tr>
      <td>Elton Rogério Corbanezi</td>
      <td>Saúde mental e depressão: sobre a função política de uma epidemia</td>
    </tr>
    <tr>
      <td>Laura Luedy</td>
      <td>Desenvolvimentos sobre as marcações de mulher e de animal no abate industrial</td>
    </tr>
    <tr>
      <td>Matheus Silveira Mendes</td>
      <td>Notas sobre a universalização de um discurso</td>
    </tr>
  </tbody>
</table>
</div>

<h2 id="gt7"><a class="gt-accordion" href="#gt7"><abbr title="Grupo de trabalho">GT</abbr> 7: Teoria e Método</a></h2>

<div>

<h3 id="gt7-1">Primeira Sessão</h3>

<dl>
  <dt>Data</dt>
  <dd>Quinta-feira, 28 de maio ― 9h–12h</dd>
  <dt>Local</dt>
  <dd>Sala Multiuso</dd>
  <!-- <dt>Coordenadores</dt> -->
  <!-- <dd>Erika Soares</dd> -->
  <!-- <dd>Letícia Helena Mamed</dd> -->
  <dt>Debatedor</dt>
  <dd>Prof. Dr. Sílvio Camargo</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título do Trabalho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Enrico Paternostro Bueno da Silva</td>
      <td>Justiça Social e Teoria Crítica: formulações contemporâneas</td>
    </tr>
    <tr>
      <td>Tábata Berg</td>
      <td>Trabalho e <em>habitus</em>: um diálogo crítico entre os “jovens” Lukács e Bourdieu</td>
    </tr>
    <tr>
      <td>Hyury Pinheiro</td>
      <td>Igualdade e valor em Karl Marx: uma conexão possível</td>
    </tr>
    <tr>
      <td>Raphael Silveiras</td>
      <td>Acesso à Internet: contribuições teórico-metodológicas de Foucault e Deleuze para o estudo da rede mundial de computadores</td>
    </tr>
  </tbody>
</table>

<h3 id="gt7-2">Segunda Sessão</h3>

<dl>
  <dt>Data</dt>
  <dd>Quinta-feira, 28 de maio ― 14h−17h</dd>
  <dt>Local</dt>
  <dd>Sala Multiuso</dd>
  <!-- <dt>Coordenadores</dt> -->
  <!-- <dd>Erika Soares</dd> -->
  <!-- <dd>Letícia Helena Mamed</dd> -->
  <dt>Debatedor</dt>
  <dd>Prof. Dr. Josué Pereira da Silva</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título do Trabalho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Joice Vanini</td>
      <td>Cidadania compartilhada: uma resposta aos desafios das sociedades multiculturais?</td>
    </tr>
    <tr>
      <td>Rubia de Araújo Ramos</td>
      <td>Touraine e Habermas: um debate teórico contemporâneo sobre novas exigências de democracia</td>
    </tr>
    <tr>
      <td>Murillo van der Laan</td>
      <td>Considerações metodológicas sobre a análise de uma elaboração teórica</td>
    </tr>
    <tr>
      <td>Henrique Pasti</td>
      <td>“O sistematizador do assistemático”: ensaio e sistema em Georg Simmel</td>
    </tr>
  </tbody>
</table>

</div>

<h2 id="gt8"><a class="gt-accordion" href="#gt8"><abbr title="Grupo de trabalho">GT</abbr> 8: Políticas Públicas, Conflitos e Movimentos Sociais</a></h2>

<div>
<dl>
  <dt>Data</dt>
  <dd>Quinta-feira, 28 de maio ― 14–17h</dd>
  <dt>Local</dt>
  <dd>Sala de vídeo</dd>
  <!-- <dt>Coordenadores</dt> -->
  <!-- <dd>Leianne Miranda</dd> -->
  <!-- <dd>Kassoum Diémé</dd> -->
  <dt>Debatedora</dt>
  <dd>Dra. Maria Cristina Cardoso Pereira</dd>
</dl>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Título do Trabalho</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jean Fabien</td>
      <td>Conflitos armados e mudança social no município de <em>Cité Soleil</em> do Haiti a partir dos anos 1990 até hoje: Uma análise crítica da gestão do poder político e do papel das religiões</td>
    </tr>
    <tr>
      <td>Cinthia Cristina dos Santos</td>
      <td>Ensino superior: produção das ideias e reformas institucionais</td>
    </tr>
    <tr>
      <td>Julia de Souza Abdalla</td>
      <td>Equidade de gêneros no Estado Brasileiro: análise das políticas públicas para mulheres de 2003 a 2013</td>
    </tr>
    <tr>
      <td>Guilherme Flynn Paciornik</td>
      <td>Os movimentos sociais e as novas tecnologias da informação e comunicação – Um estudo comparativo entre movimentos sociais</td>
    </tr>
    <tr>
      <td>Laura Oliveira Alberti</td>
      <td>Acumulação flexível, empregabilidade e a (re)produção do modelo de educação profissional via políticas públicas no Brasil</td>
    </tr>
  </tbody>
</table>
</div>
</div>
